<app-image-uploader [(image)]="image" *ngIf="image === null"></app-image-uploader>
<button type="button" class="btn btn-danger" (click)="deleteImage()">DELETE</button>
<img [src]="image?.source" *ngIf="image !== null">


<h3>Background Div</h3>
<div [ngStyle]="{'background-image':'url('+ image?.source +')'}" style="background-size: cover; width: 200px; height: 200px"></div>

<form (submit)="validateMangaCreateForm()">
  <div class="form-group">
    <label for="title">Titulo</label>
    <input type="text" class="form-control" name="title" id="title" [(ngModel)]="manga.title">
  </div>
  <div class="form-group">
    <label for="volume">Tomo</label>
    <input type="text" class="form-control" name="volume" id="volume" [(ngModel)]="manga.volume">
  </div>
  <div class="form-group">
    <label for="price">Precio</label>
    <input type="text" class="form-control" name="price" id="price" [(ngModel)]="manga.price">
  </div>
  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input type="text" class="form-control" name="isbn" id="isbn" [(ngModel)]="manga.isbn">
  </div>
  <div class="form-group">
    <label for="publishedAt">Fecha publicación</label>
    <input type="text" class="form-control" name="publishedAt" id="publishedAt" [(ngModel)]="manga.publishedAt">
  </div>
  <div class="form-group">
    <label for="serie">Serie</label>
    <select name="serie" id="serie" [(ngModel)]="manga.serie_id">
      <option value="">-- Selecciona una serie --</option>
      <option *ngFor="let serie of series"
              [ngValue]="serie.id"
      >{{ serie.name }}</option>
    </select>
  </div>

  {{ manga | json}}
  <button type="submit" class="btn btn-primary">Crear</button>
</form>
