<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary" (click)="goTo('create')">Agregar Serie</button>

      <table class="table">
        <thead>
        <tr>
          <th>--</th>
          <th>Nombre</th>
          <th>Author</th>
          <th>Editorial</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let serie of series">
          <td><img src="{{endPoint}}/images/covers/{{serie.cover}}" width="100"></td>
          <td>{{serie.name}}</td>
          <td>{{serie.author}}</td>
          <td>{{serie.editorial}}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <pre>{{ series | json }}</pre>
  </div>
</div>
